* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: hsl(0, 0%, 90%);
}

.container {
    width: 650px;
    min-height: 85vh;
    background-color: white;
    border-radius: 10px;
    margin-top: 15px;
    padding: 20px 0px 20px 20px;
    box-shadow: 5px 10px 10px #adadad;
}


/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.title {
    display: inline-block;
    font-size: 34px;
    font-weight: 400;
}

#add-book {
    display: inline-block;
    width: 90px;
    height: 40px;
    background-color: #0095ff;
    border-color: #0095ff;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 15px;
}

/* Containers */
.library-container {
    max-height: 85vh;
    padding-right: 20px;
    overflow-y: auto;
}

.book-item {
    display: flex;
    margin-top: 20px;
    width: 100%;
}

/* Book cover images */
.book-cover {
    display: inline-block;
}

img {
    width: 100px;
    height: 150px;
    object-fit: contain;
    border-radius: 10px;
}

/* Book info */
.book-details {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.book-title {
    font-weight: 900;
    font-size: 21px;
    display: inline-block;
}

.year {
    font-size: 16px;
    color: #636363;
}

.author {
    font-size: 20px;
    color: rgb(77, 77, 77);
    margin-top: 3px;
    margin-bottom: 5px;
}

.description {
    display: flex;
    flex-direction: column;
    font-size: 17px;
}

/* Buttons */
button {
    width: 75px;
    height: 35px;
    margin-bottom: 7px;
    font-size: 15px;
    background-color: #fffefe;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.buttons {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.read {
    color: white;
    background-color: #929292;
    border-color: #929292;
}

.read.true {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.edit {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.delete {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

/* Modal */
.modal-container {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.active {
    display: flex;
}

.modal {
    position: absolute;
    width: 50vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -60%);
    background-color: white;
    padding: 20px;
    border-radius: 7px;
}

label {
    font-size: 18px;
}

input {
    display: block;
    width: 100%;
    height: 27px;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 10px;
    border: 1px solid darkgray;
    border-radius: 4px;
    padding-left: 5px;
}

.modal-buttons {
    display: flex;
    justify-content: center;
}

#submit, #cancel {
    width: 100px;
    margin-right: 25px;
    margin-top: 5px;
}

#submit {
    background-color: #0095ff;
    border-color: #0095ff;
    color: white;
}

#cancel {
    border: 1px solid black;
}

